{%extends 'base.html' %}
{%block titol%}<span xmlns="http://www.w3.org/1999/html">Tipus</span>{%endblock titol%}
{%block content%}
    <div class="container">
        {% ifequal user.username "admin" %}
            <div class="row">
                <span class="pull-left"><a type="button" class="btn btn-info btn-lg text-right" href=""><span class="glyphicon glyphicon-plus"></span> Nou producte</a></span>
            </div>
        {% endifequal %}
        <br/>
        {% if tipus %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipu in tipus %}
                    <tr>
                        <td> {{ tipu.id }}</td>
                        <td> {{ tipu.nom }}</td>
                        {% ifequal user.username "admin" %}
                            <td>
                                <a class="btn btn-primary" role="button" href=""><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                                <a class="btn btn-danger" role="button" href=""><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                            </td>
                        {% endifequal %}
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hi han tipus</p>
        {% endif %}
    </div>
{%endblock%}