{%extends 'base.html' %}
{%block titol%}<span xmlns="http://www.w3.org/1999/html">Detall</span>{%endblock titol%}
{%block content%}
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Unitats</th>
                        <td>Descompte</td>
                        <th>Preu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for linia in linies %}
                        <tr>
                            <td>{{ linia.id_linia }}</td>
                            <td>{{ linia.quantitat }}</td>
                            <td>{{ linia.descompte }}</td>
                            <td>{{ linia.preu }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}