{%extends 'base.html' %}
{%block titol%}<span xmlns="http://www.w3.org/1999/html">Detall</span>{%endblock titol%}
{%block content%}
    <div class="container">
        {% if comandes %}
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Imatge</th>
                            <th>Quantitat</th>
                            <th>Preu</th>
                            <th>Opcions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="butons">
                            <a class="btn btn-danger" role="button" href="{% url 'comande:esborra_carro' %}"><span class="glyphicon glyphicon-trash"></span> Buidar carro</a></span>
                        </div>
                        <br/>
                        {% for clau, valor in comandes.items %}
                            <tr>
                                <td>{{ clau }}</td>
                                <td>{{ clau.nom }}</td>
                                <td></td>
                                <td>{{ valor }} unitats</td>
                                <td></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-danger" role="button" href=""><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-11 col-md-offset-8">
                    <div class="butons">
                        <a class="btn btn-success" role="button" href=""><span class="glyphicon glyphicon-ok"></span> Confirmar comanda</a></span>
                    </div>
                </div>
            </div>

        {% else %}
            <p>No hi han productes en el carro</p>
        {% endif %}
    </div>
{%endblock%}