{%extends 'base.html' %}
{%block titol%}<span xmlns="http://www.w3.org/1999/html">Detall</span>{%endblock titol%}
{%block content%}
    <div class="container">
        {% if comandes %}
            <div class="table-responsive">
                {% for comanda in comandes %}
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data</th>
                                <th>Estat</th>
                                <th>Usuari</th>
                                <th>Opcions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ comanda.num_comanda  }}</td>
                                <td>{{ comanda.data }}</td>
                                <td>{{ comanda.estat }}</td>
                                <td>{{ comanda.usuari }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-info" role="button" href=""><span class="glyphicon glyphicon-zoom-in"> Datall</span></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                {% endfor %}
            </div>
        {% else %}
            <p>No hi han cap comanda</p>
        {% endif %}
    </div>
{%endblock%}