{%extends 'base.html' %}
{%block titol%}<span xmlns="http://www.w3.org/1999/html">Marques</span>{%endblock titol%}
{%block content%}
    <div class="container">

        {% if marcas %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr>
                        <td> {{ marca.id }}</td>
                        <td> {{ marca.nom }}</td>

                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hi han marques</p>
        {% endif %}
    </div>
{%endblock%}