{%extends 'base.html' %}
{%block titol%}<span xmlns="http://www.w3.org/1999/html">Productes</span>{%endblock titol%}
{%block content%}
    <div class="container">
        {% ifequal user.username "admin" %}
            <div class="row">
                <span class="pull-left"><a type="button" class="btn btn-info btn-lg text-right" href="{% url 'producte:introduir_producte'%}"><span class="glyphicon glyphicon-plus"></span> Nou produte</a></span>
            </div>
        {% endifequal %}
        <br/>
        <div>
            {% if productes %}
            <div class="row">
                {% for producte in productes %}
                    <div class="producte col-xs-12 col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <div style="min-height: 150px">
                                <img class="img-responsive" style="height: 142px; width: 100%" src="{{producte.imatge.url}}">
                            </div>
                            <div class="caption">
                                <h3 class="bg-primary">{{ producte.nom }}</h3>
                                <h4>Preu: {{producte.preu}} € </h4>
                                {% ifequal user.username "admin" %}
                                    <div class="butons">
                                        <a class="btn btn-primary" role="button" href="{% url 'producte:editar_producte' producte.id_producte %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a></span>
                                        <a id="eliminar_producte" class="btn btn-danger" role="button" href="{% url 'producte:eliminar_producte' producte.id_producte %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></span>
                                    </div>
                                {% endifequal %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p>No hi han productes</p>
            {% endif %}
        </div>
    </div>
{%endblock%}