{%extends 'base.html' %}
{%block titol%}<span xmlns="http://www.w3.org/1999/html">Productes</span>{%endblock titol%}
{%block content%}

    <div>
        {% if productes %}
        <div class="row">
            <div class="col-xs-12 col-md-2">
                {% ifequal user.username "admin" %}
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <span class="pull-left"><a type="button" class="btn btn-info btn-lg text-right" href="{% url 'producte:introduir_producte'%}"><span class="glyphicon glyphicon-plus"></span> Nou producte</a></span>
                        </div>
                    </div>
                {% endifequal %}
                <br/>
                <div class="list-group table-of-contents">
                    {% for marca in marcas %}
                        <a class="list-group-item" href="{% url 'producte:filtrar_marcas' marca.id %}">{{ marca.nom }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-md-10">
               {% for producte in productes %}
                    <div class="producte col-xs-12 col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div style="min-height: 150px">
                                <img class="img-responsive" style="height: 230px; width: 100%" src="{{producte.imatge.url}}">
                            </div>
                            <div class="caption">
                                <h3 class="bg-primary" style="max-height: 1.2em; overflow: hidden"><a href="{% url 'producte:veure_detall' producte.id_producte %}">{{ producte.nom }}</a></h3>
                                <h4>Preu: {{producte.preu}} € </h4>
                                {% ifequal user.username "admin" %}
                                    <div class="butons btn-group btn-group-justified">
                                        <a class="btn btn-primary" role="button" href="{% url 'producte:editar_producte' producte.id_producte %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a></span>
                                        <a id="eliminar_producte" class="btn btn-danger" role="button" href="{% url 'producte:eliminar_producte' producte.id_producte %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a></span>
                                    </div>
                                {% else %}
                                    <div class="butons">
                                        <a class="btn btn-warning" role="button" href="{% url 'comande:update_session' producte.id_producte %}"><span class="glyphicon glyphicon-shopping-cart"></span> Afegir al carro</a>
                                    </div>
                                {% endifequal %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <div class="list-group table-of-contents">
                        {% for marca in marcas %}
                            <a class="list-group-item" href="{% url 'producte:filtrar_marcas' marca.id %}">{{ marca.nom }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-12 col-md-10">
                    <p>No hi han productes</p>
                </div>
            </div>
        {% endif %}
    </div>

{%endblock%}